.scissor_button,
.rock_button,
.paper_button {
  margin: 0 0.8em;
  padding: 0.5em 0.7em;
  width: 8.5em;
  height: 8em;
  border: 1px solid black;
  border-radius: 10%;
}

.scissor_button:hover,
.rock_button:hover,
.paper_button:hover {
  border: 3px solid black;
  box-shadow: 0 0 20px black inset;
  box-shadow: 0 0 20px black;
}

.scissor_button {
  background: center / contain no-repeat url("/Scissor.png") rgb(4, 0, 2);
}
.paper_button {
  background: center / contain no-repeat url("/Paper.png") rgb(0, 0, 0);
}
.rock_button {
  background: center / contain no-repeat url("/Rock.png") rgb(0, 0, 0);
}

.profile,
.profileR {
  color: white;
  padding: 0.2em;
  margin: 0 0.2em 0 0;
  font-size: 3.5em;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10%;
}

.star,
.starR {
  font-size: 2em;
  color: white;
}

.profileR {
  position: relative;
  left: 80%;
}

.starR {
  position: relative;
  left: 39%;
  font-size: 2em;
}
