.left,
.right {
  width: 50%;
}

.logo {
  z-index: 2;
  height: 100%;
  width: 90%;
}

.scissor_hand {
  z-index: 1;
  height: 40em;
  position: absolute;
  left: 72%;
  top: -25%;
  filter: drop-shadow(1px 1px 0 rgb(255, 255, 255))
    drop-shadow(-1px -1px 0 rgb(255, 255, 255));
  transform: rotate(0.65turn);
}

.rock_hand {
  z-index: 1;
  height: 30em;
  position: absolute;
  top: 41%;
  left: 40%;
  filter: drop-shadow(1px 1px 0 rgb(255, 255, 255))
    drop-shadow(-1px -1px 0 rgb(255, 255, 255));
  transform: skew(150deg, 30deg);
}

.btn_container {
  z-index: 2;
  width: max-content;
  height: max-content;
  /* group button positions  */
  position: absolute;
  top: 55%;
  left: 65%;
}

.button {
  /* position */
  display: block;
  padding: 0.7em 1em;
  margin: 1em;
  /* font */
  font-size: 2em;
  font-weight: bold;
  color: white;
  /* border */
  border: 4px solid rgb(255, 255, 255);
  border-radius: 10%;
  background: linear-gradient(40deg, rgb(229, 14, 161), rgb(162, 0, 255));
  cursor: pointer;
}
